@{
    ViewData["Title"] = "Confirmation de Paiement";
}

<div class="container mt-4 text-center">
    <h2>@TempData["Message"]</h2>
    <a class="btn btn-primary mt-3" href="@Url.Action("Index", "Home")">Retour à l'accueil</a>
</div>
