<!-- Page Title -->
<section class="page-title">
	<div class="auto-container">
		<h2>About Us</h2>
		<ul class="bread-crumb clearfix">
			<li><a asp-controller="Layouts" asp-action="Index">Accueil</a></li>
			<li>Pages</li>
			<li>À propos de nous</li>
		</ul>
	</div>
</section>
<!-- About Section -->
<section class="about-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="~/images/resource/products/MinimotorsScooter/DualtronForever_5.jpg" alt="" />
						<div class="years-box">
							<span>20+</span> Ans d'expérience
						</div>
						<div class="experiance">
							<div class="counter"><span class="odometer" data-count="20"></span> +</div>
							<span class="years">ans d'<br> expérience</span>
						</div>
					</div>
				</div>
			</div>

			<!-- content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">À propos de notre magasin</div>
					<h2>Magasin de trottinettes électriques de qualité dans <br> votre région spécifique</h2>
					<div class="text">Nous construisons et activons des marques grâce à des insights culturels, une vision stratégique <br> et la puissance de l'émotion à travers chaque action.</div>
					<ul class="options">
						<li><span class="icon flaticon-armchair"></span>Design de trottinette</li>
						<li><span class="icon flaticon-livingroom"></span>Pour rouler</li>
					</ul>
					<ul class="check-list">
						<li>Associez couleurs, tailles et designs</li>
						<li>Impressions de haute qualité avec les dernières technologies</li>
					</ul>
					<div class="designation"><span>Foqrul Saheb</span> Développeur senior artist</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Section -->
<!-- Sale Section Three -->
<section class="sale-section-three">
	<div class="auto-container">
		<!-- Title Box -->
		<div class="title-box">
			<div class="title">100% d'origine</div>
			<h2>Révolutionnez votre conduite <br> L'expérience ultime de la trottinette électrique</h2>
		</div>

		<!-- Sale Info Tabs -->
		<div class="sale-info-tabs">
			<!-- Sale Tabs -->
			<div class="sale-tabs tabs-box">

				<!-- Tab Btns -->
				<ul class="tab-btns tab-buttons clearfix">
					<li data-tab="#prod-about" class="tab-btn active-btn">À propos de nous</li>
					<li data-tab="#prod-objective" class="tab-btn">Objectif</li>
					<li data-tab="#prod-excellent" class="tab-btn">Excellence</li>
				</ul>

				<!-- Tabs Container -->
				<div class="tabs-content">

					<!-- Tab / Active Tab -->
					<div class="tab active-tab" id="prod-about">
						<div class="content">
							<p>Nous sommes dédiés à fournir des trottinettes électriques innovantes et écologiques qui allient performance, style et durabilité pour répondre aux besoins de transport modernes.</p>
							<h5>Votre destination ultime pour les trottinettes électriques - (Experts en trottinettes électriques)</h5>
							<div class="check-list-outer">
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Vivez l'innovation, le style et la performance</li>
											<li>Des trajets écologiques pour un avenir durable</li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Mobilité urbaine fluide, fiable et intelligente</li>
											<li>Révolutionnez vos trajets quotidiens avec une technologie de pointe</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab -->
					<div class="tab" id="prod-objective">
						<div class="content">
							<p>Notre objectif est de révolutionner la mobilité urbaine en offrant des solutions fiables et écoénergétiques qui réduisent l'impact environnemental et améliorent le confort des utilisateurs.</p>
							<h5>Votre destination ultime pour les trottinettes électriques - (Experts en trottinettes électriques)</h5>
							<div class="check-list-outer">
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Vivez l'innovation, le style et la performance</li>
											<li>Des trajets écologiques pour un avenir durable</li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Mobilité urbaine fluide, fiable et intelligente</li>
											<li>Révolutionnez vos trajets quotidiens avec une technologie de pointe</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab -->
					<div class="tab" id="prod-excellent">
						<div class="content">
							<p>Nous sommes fiers de fournir des produits de haute qualité, un service client exceptionnel et un engagement envers l'amélioration continue pour offrir une expérience de conduite supérieure.</p>
							<h5>Votre destination ultime pour les trottinettes électriques - (Experts en trottinettes électriques)</h5>
							<div class="check-list-outer">
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Vivez l'innovation, le style et la performance</li>
											<li>Des trajets écologiques pour un avenir durable</li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="check-list">
											<li>Mobilité urbaine fluide, fiable et intelligente</li>
											<li>Révolutionnez vos trajets quotidiens avec une technologie de pointe</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End Sale Section Three -->
<!-- Services Section Two -->
<section class="services-section-two">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MinimotorsScooter/DualtronForever_5.jpg" alt="DualtronForever" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="shop-detail.html">Livraison gratuite</a></h5>
							<div class="text">Livraison rapide, <br> fiable à votre porte <br> sans frais supplémentaires.</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MinimotorsScooter/DualtronCompact_2.jpg" alt="DualtronCompact" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="shop-detail.html">Support de qualité 24/7</a></h5>
							<div class="text">Notre équipe d'experts <br> est disponible 24h/24 et 7j/7 pour vous assister.</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MinimotorsScooter/DualtronTogo_12.jpg" alt="DualtronTogo" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="shop-detail.html">Politique de retour facile</a></h5>
							<div class="text">Profitez d'un processus de retour fluide,<br> sans tracas,<br> pour votre tranquillité d'esprit.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Services Section Two -->
<!-- Testimonial Section Two -->
<section class="testimonial-section-two">
	<div class="auto-container">
		<div class="inner-container">
			<span class="dott"></span>

			<div class="single-item-carousel owl-carousel owl-theme">

				<!-- Bloc Témoignage Deux -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<h3>Témoignages</h3>
						<div class="text">La solution parfaite pour mes trajets quotidiens ! Cette trottinette électrique est fluide, fiable, et me fait gagner énormément de temps tout en étant écologique. Je la recommande vivement pour les déplacements urbains !</div>
						<div class="designation"><span>Laura Adams</span> Blogueuse voyage</div>
					</div>
				</div>

				<!-- Bloc Témoignage Deux -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<h3>Témoignages</h3>
						<div class="text">Je ne pourrais pas être plus satisfaite de mon achat ! La performance de la trottinette et son design élégant ont dépassé mes attentes, et l’autonomie de la batterie est incroyable. Un vrai changement pour la vie citadine.</div>
						<div class="designation"><span>Emily Brown </span> Étudiante universitaire</div>
					</div>
				</div>

				<!-- Bloc Témoignage Deux -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<h3>Témoignages</h3>
						<div class="text">Absolument un excellent choix ! La conduite est confortable, la vitesse impressionnante, et le service client était exceptionnel. Je l’utilise tous les jours et je l’adore.</div>
						<div class="designation"><span>Sarah Wilson </span> Coach sportif</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Section Two -->

