<!-- Page Title -->
<section class="page-title">
	<div class="auto-container">
		<h2>Page du Blog</h2>
		<ul class="bread-crumb clearfix">
			<li><a asp-controller="Layouts" asp-action="Index">Accueil</a></li>
			<li>Pages</li>
			<li>Blog</li>
		</ul>
	</div>
</section>
    <!-- End Page Title -->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12 right-sidebar">
					
					<!-- News Block Three -->
					<div class="news-block-three">
						<div class="inner-box">
							<div class="image">
								<a href="blog-detail.html"><img src="~/images/background/pexels-mearthtechnology-3803854.jpg" alt="" /></a>
								<div class="post-date">24 <br> Feb</div>
							</div>
							<div class="lower-content">
								<div class="tags">
									<span># Tags</span>
									<a href="#">Liens</a>
									<a href="#">Brave</a>
									<a href="#">Brave</a>
								</div>
								<h3><a href="blog-detail.html">Pourquoi les trottinettes électriques sont l'avenir de la mobilité urbaine</a></h3>
								<ul class="post-meta d-flex align-items-center flex-wrap clearfix">
									<li><span class="author"><img src="~/images/resource/author-4.jpg" alt="" /></span> Alaxandar / <span>2 ans</span> </li>
									<li><span class="icon flaticon-bubble-chat"></span>5</li>
									<li><span class="icon flaticon-clock"></span>4 min de lecture</li>
								</ul>
								<div class="text">Les trottinettes électriques révolutionnent notre façon de nous déplacer en ville. Elles offrent une solution de transport écologique, rapide et pratique, idéale pour les trajets courts et les déplacements urbains. Découvrez pourquoi ces véhicules sont de plus en plus populaires et comment ils contribuent à un avenir plus durable.</div>
							</div>
						</div>
					</div>
					
					<!-- News Block Three -->
					<div class="news-block-three">
						<div class="inner-box">
							<div class="image">
							<a href="blog-detail.html"><img src="~/images/background/pexels-mearthtechnology-3803861.jpg" alt="" /></a>
								<div class="post-date">24 <br> Feb</div>
							</div>
							<div class="lower-content">
								<div class="tags">
									<span># Tags</span>
									<a href="#">Liens</a>
									<a href="#">Brave</a>
									<a href="#">Brave</a>
								</div>
								<h3><a href="blog-detail.html">Les avantages des trottinettes électriques pour les trajets quotidiens</a></h3>
								<ul class="post-meta d-flex align-items-center flex-wrap clearfix">
									<li><span class="author"><img src="~/images/resource/author-4.jpg" alt="" /></span> Alaxandar / <span>3 ans</span> </li>
									<li><span class="icon flaticon-bubble-chat"></span>7</li>
									<li><span class="icon flaticon-clock"></span>5 min de lecture</li>
								</ul>
								<div class="text">Les trottinettes électriques offrent une alternative pratique et rapide aux transports en commun pour les trajets urbains. Faciles à utiliser, écologiques et économiques, elles sont devenues un choix populaire pour les citadins cherchant à réduire leur empreinte carbone tout en gagnant du temps sur leurs déplacements.</div>
							</div>
						</div>
					</div>
					
					<!-- News Block Three -->
					<div class="news-block-three">
						<div class="inner-box">
							<div class="image">
							<img src="~/images/background/pexels-wellingtonsilva-14589904.jpg" alt="" />
								<a href="https://www.youtube.com/watch?v=R234zAw5njg&ab_channel=N%C3%A9zdmitrendelszBlog" class="lightbox-video overlay-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
								<div class="post-date">24 <br> Feb</div>
							</div>
							<div class="lower-content">
								<div class="tags">
									<span># Tags</span>
									<a href="#">Liens</a>
									<a href="#">Brave</a>
									<a href="#">Brave</a>
								</div>
								<h3><a href="blog-detail.html">Comment choisir la meilleure trottinette électrique pour vos besoins</a></h3>
								<ul class="post-meta d-flex align-items-center flex-wrap clearfix">
									<li><span class="author"><img src="~/images/resource/author-4.jpg" alt="" /></span> Alaxandar / <span>2 ans</span> </li>
									<li><span class="icon flaticon-bubble-chat"></span>5</li>
									<li><span class="icon flaticon-clock"></span>4 min de lecture</li>
								</ul>
								<div class="text">Choisir une trottinette électrique peut être un défi avec toutes les options disponibles sur le marché. Ce guide vous aidera à comprendre les critères importants, comme l'autonomie, la vitesse, et le confort, pour trouver celle qui répondra le mieux à vos besoins quotidiens.</div>
							</div>
						</div>
					</div>
					
					<!-- News Block Three -->
					<div class="news-block-three">
						<div class="inner-box">
							<div class="image">
							<img src="~/images/background/pexels-jonathan-pagaoa-46448199-14998022.jpg" alt="" />
								<div class="post-date">24 <br> Feb</div>
							</div>
							<div class="lower-content">
								<div class="tags">
									<span># Tags</span>
									<a href="#">Links</a>
									<a href="#">Brave</a>
									<a href="#">Brave</a>
								</div>
								<h3><a href="blog-detail.html">Les meilleures pratiques pour entretenir votre trottinette électrique</a></h3>
								<ul class="post-meta d-flex align-items-center flex-wrap clearfix">
									<li><span class="author"><img src="~/images/resource/author-4.jpg" alt="" /></span> Alaxandar / <span>2 ans</span> </li>
									<li><span class="icon flaticon-bubble-chat"></span>5</li>
									<li><span class="icon flaticon-clock"></span>4 min de lecture</li>
								</ul>
								<div class="text">Entretenir correctement votre trottinette électrique prolonge sa durée de vie et améliore sa performance. Découvrez nos conseils pratiques pour prendre soin de votre scooter et optimiser ses performances, de l'entretien de la batterie à la vérification des pneus.</div>
								</div>
						</div>
					</div>
					
					<!-- Styled Pagination -->
					<ul class="styled-pagination text-center">
						<li class="next"><a href="#"><span class="fa fa-angle-double-left"></span></a></li>
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="next"><a href="#"><span class="fa fa-angle-double-right"></span></a></li>
					</ul>
					<!-- End Styled Pagination -->
					
				</div>
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12 left-sidebar">
                	<aside class="sidebar sticky-top">
						<div class="sidebar-inner">
							
							<!-- Search Widget -->
							<div class="sidebar-widget-two search-box">
								<div class="widget-content">
									<form method="post" action="contact.html">
										<div class="form-group">
											<input type="search" name="search-field" value="" placeholder="chercher produit" required>
											<button type="submit"><span class="icon fa fa-search"></span></button>
										</div>
									</form>
								</div>
							</div>
							
							<!-- Social Widget -->
							<div class="sidebar-widget-two social-widget">
								<!-- Sidebar Title -->
								<div class="sidebar-title-two">
									<h5>Follow us</h5>
								</div>
								<div class="widget-content">
									<ul class="social-list">
									<li><span class="icon fa fa-facebook"></span> Facebook <a href="#">suivre</a></li>
									<li><span class="icon fa fa-instagram"></span> Instagram <a href="#">suivre</a></li>
									<li><span class="icon fa fa-dribbble"></span> Dribbble <a href="#">suivre</a></li>
									<li><span class="icon fa fa-youtube-play"></span> Youtube <a href="#">suivre</a></li>
									<li><span class="icon fa fa-pinterest-p"></span> Pinterest <a href="#">suivre</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Post Widget -->
							<div class="sidebar-widget-two post-widget">
								<!-- Sidebar Title -->
								<div class="sidebar-title-two">
									<h5>Sujets Chauds</h5>
								</div>
								<div class="widget-content">
									<div class="post">
										<div class="thumb">
											<div class="post-number">01</div>
											<a href="news-detail.html"><img src="~/images/resource/post-thumb-1.jpg" alt=""></a>
										</div>
										<div class="category">Sports</div>
										<h6><a href="news-detail.html">Les problèmes budgétaires obligent notre équipe à être</a></h6>
									</div>

									<div class="post">
										<div class="thumb">
											<div class="post-number">02</div>
											<a href="news-detail.html"><img src="~/images/resource/post-thumb-2.jpg" alt=""></a>
										</div>
										<div class="category">Sports</div>
										<h6><a href="news-detail.html">Les problèmes budgétaires obligent notre équipe à être</a></h6>
									</div>

									<div class="post">
										<div class="thumb">
											<div class="post-number">03</div>
											<a href="news-detail.html"><img src="~/images/resource/post-thumb-3.jpg" alt=""></a>
										</div>
										<div class="category">Sports</div>
										<h6><a href="news-detail.html">Les problèmes budgétaires obligent notre équipe à être</a></h6>
									</div>

									<div class="post">
										<div class="thumb">
											<div class="post-number">04</div>
											<a href="news-detail.html"><img src="~/images/resource/post-thumb-4.jpg" alt=""></a>
										</div>
										<div class="category">Sports</div>
										<h6><a href="news-detail.html">Les problèmes budgétaires obligent notre équipe à être</a></h6>
									</div>									
								</div>
							</div>

							<!-- Widget Tendances -->
							<div class="sidebar-widget-two trending-widget style-two">
								<div class="widget-content">
									<div class="content">
										<div class="vector-icon-two" style="background-image: url(images/icons/pattern-5.png)"></div>
										<div class="title">Tendances</div>
										<h4>Collection <span>Ordinateur portable</span> 2022</h4>
										<a class="buy-btn theme-btn" href="#">Achetez maintenant</a>
										<div class="icon">
											<img src="~/images/resource/lamp-4.png" alt="" />
										</div>
									</div>
								</div>
							</div>

							<!-- Widget Tweet -->
							<div class="sidebar-widget-two tweet-widget">
								<!-- Titre du Sidebar -->
								<div class="sidebar-title-two">
									<h5>Flux Twitter</h5>
								</div>
								<div class="widget-content">

									<!-- Boîte de Tweet -->
									<div class="tweet-box">
										<div class="tweet-title">@@twitterapi</div>
										<div class="tweet">(Berkeley DataBase) Un système open source qui utilise <a href="#">"www.twitter/de.com"</a></div>
										<div class="tweet-date">8 juil. 2022</div>
									</div>

									<!-- Boîte de Tweet -->
									<div class="tweet-box">
										<div class="tweet-title">@@twitterapi</div>
										<div class="tweet">(Berkeley DataBase) Un système open source qui utilise <a href="#">"www.twitter/de.com"</a></div>
										<div class="tweet-date">8 juil. 2022</div>
									</div>

									<!-- Boîte de Tweet -->
									<div class="tweet-box">
										<div class="tweet-title">@@twitterapi</div>
										<div class="tweet">(Berkeley DataBase) Un système open source qui utilise <a href="#">"www.twitter/de.com"</a></div>
										<div class="tweet-date">8 juil. 2022</div>
									</div>

								</div>
							</div>


							<!-- Widget Services -->
							<div class="sidebar-widget-two services-widget">
								<!-- Titre du Sidebar -->
								<div class="sidebar-title-two">
									<h5>Catégories Populaires</h5>
								</div>
								<div class="widget-content">

									<!-- Liste des Catégories Deux -->
									<ul class="category-list-two">
										<li><a href="#"><span class="icon flaticon-megaphone-1"></span> Mise à jour marketing <span class="number">34</span></a></li>
										<li><a href="#"><span class="icon flaticon-handshake"></span> Animaux & Oiseaux <span class="number">34</span></a></li>
										<li><a href="#"><span class="icon flaticon-document"></span> Actualités & Magazines <span class="number">34</span></a></li>
										<li><a href="#"><span class="icon flaticon-trophy-2"></span> Télévision en direct & Sports <span class="number">34</span></a></li>
										<li><a href="#"><span class="icon flaticon-eye"></span> Animaux & Oiseaux <span class="number">34</span></a></li>
									</ul>

								</div>
							</div>

							
							<!-- News Widget -->
							<div class="sidebar-widget-two news-widget">
								<!-- Sidebar Title -->
								<div class="sidebar-title-two">
									<h5>Rechercher des Actualités</h5>
								</div>
								<div class="widget-content">
									
									<!-- News Form -->
									<div class="news-form">
										<form method="post">

											<div class="form-group">
												<select name="currency" class="custom-select-box">
													<option>Division</option>
													<option>Division 01</option>
													<option>Division 02</option>
													<option>Division 03</option>
													<option>Division 04</option>
												</select>
											</div>

											<div class="form-group">
												<select name="currency" class="custom-select-box">
													<option>Sous-division</option>
													<option>Sous-division 01</option>
													<option>Sous-division 02</option>
													<option>Sous-division 03</option>
													<option>Sous-division 04</option>
												</select>
											</div>

											<div class="form-group">
												<select name="currency" class="custom-select-box">
													<option>District</option>
													<option>District 01</option>
													<option>District 02</option>
													<option>District 03</option>
													<option>District 04</option>
												</select>
											</div>

											<div class="form-group">
												<button class="theme-btn search-btn">Rechercher des actualités</button>
											</div>
										</form>
									</div>
									<!-- End News Form -->
									
								</div>
							</div>
							
							<!-- Tags Widget -->
							<div class="sidebar-widget-two tags-widget">
								<div class="widget-content">
									<!-- Sidebar Title -->
									<div class="sidebar-title-two">
										<h5>Tags</h5>
									</div>
									<ul class="tag-list">
										<li><a href="#">symphony</a></li>
										<li><a href="#">nokia</a></li>
										<li><a href="#">samsung</a></li>
										<li><a href="#">Alcatel</a></li>
										<li><a href="#">landing</a></li>
										<li><a href="#">Oppos</a></li>
										<li><a href="#">I phone Pro 12</a></li>
										<li><a href="#">poco X3</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	
	
