<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
	<div class="xs-overlay xs-bg-black"></div>
	<div class="xs-sidebar-widget">
		<div class="sidebar-widget-container">
			<div class="widget-heading">
				<a href="#" class="close-side-widget flaticon-multiply"></a>
			</div>
			<div class="sidebar-textwidget">
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="" title=""></a>
						</div>
						<div class="content-box">

							<h6>Services</h6>
							<ul class="sidebar-services-list">
								<li><a href="#">Ordinateurs portables et ordinateurs</a></li>
								<li><a href="#">Appareils photo et photographie</a></li>
								<li><a href="#">Smartphones et tablettes</a></li>
								<li><a href="#">Jeux vidéo et consoles</a></li>
								<li><a href="#">Télévision et audio</a></li>
								<li><a href="#">Table LED</a></li>
							</ul>

							<h6>Contact info</h6>
							<!-- List Style One -->
							<ul class="list-style-one">
								<li>
									<span class="icon flaticon-maps-and-flags"></span>
									<strong>Our office</strong>
									A-1, Envanto Headquarters, <br> Melbourne, Australia.
								</li>
								<li>
									<span class="icon flaticon-call-1"></span>
									<strong>Phone</strong>
									<a href="tel:+00-999-999-9999">+(00) 999 999 9999</a><br>
									<a href="tel:+000-000-0000">000 000 0000</a>
								</li>
								<li>
									<span class="icon flaticon-mail"></span>
									<strong>Email</strong>
									<a href="mailto:contact@bloxic.com">contact@Bloxic.com</a>
								</li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Main Section -->
<section class="main-slider">
	<div class="main-slider-carousel owl-carousel owl-theme">
		<div class="slide">
			<div class="ct-dot-animated">
				<div class="ct-dot-container">
					<div class="ct-dot-item">
						<span></span>
					</div>
					<div class="ct-dot-item">
						<span></span>
					</div>
					<div class="ct-dot-item">
						<span></span>
					</div>
				</div>
			</div>
			<!-- End Ct Dot Animated -->
			<div class="image-layer" style="background-image: url(images/main-slider/image-1.jpg)"></div>
			<div class="auto-container">
				<div class="content-box">
					<div class="box-inner">
						<div class="vector-icon" style="background-image: url(images/main-slider/vector-1.png)"></div>
						<div class="vector-icon-two" style="background-image: url(images/main-slider/vector-2.png)"></div>
						<div class="vector-icon-three" style="background-image: url(images/main-slider/vector-3.png)"></div>
						<div class="sale-box">
							VENTE
							<span>30<i>%réduction</i></span>
						</div>
						<div class="title">Collection 2025</div>
						<h1>Collection Escooters <br></h1>
						<div class="price">À partir de <span>1999DH</span></div>
						<a href="shop.html" class="shop-now">Acheter maintenant</a>
						<a href="shop.html" class="arrival-box">Nouvelle</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="featured-section">
	<div class="vector-layer" style="background-image: url(images/icons/vector-1.png)"></div>
	<div class="vector-layer-two" style="background-image: url(images/icons/feature.png)"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">
				<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content">
							<div class="icon flaticon-fast"></div>
							<strong>Livraison gratuite</strong>
							<div class="text">Livraison gratuite pour plus de 1000DH </div>
						</div>
					</div>
				</div>
				<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content">
							<div class="icon flaticon-padlock"></div>
							<strong>Paiement sécurisé</strong>
							<div class="text">Paiement 100 % sécurisé</div>
						</div>
					</div>
				</div>
				<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content">
							<div class="icon flaticon-headphones-1"></div>
							<strong>Support 24/7</strong>
							<div class="text">Support de haute qualité 24/7</div>
						</div>
					</div>
				</div>
				<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content">
							<div class="icon flaticon-wallet"></div>
							<strong>Remboursement à 100%</strong>
							<div class="text">Remboursement pour les clients</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Products Section -->
<section class="products-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<h4><span>Produits</span> populaires pour vous !</h4>
		</div>
		<div class="four-item-carousel owl-carousel owl-theme">
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html">
							<img src="images/resource/products/MicroScooter/MicroExplorerS_1.jpg" alt="MicroExplorerScooter" class="product-image" />
						</a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6 class="product-name"><a href="shop-detail.html">Micro Explorer<br>Trottinettes</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">3562DH</span>
								<span class="current-price">3000DH</span>
							</div>
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/Vsett/Vsett10+ElectricScooter_4.jpg" alt="Vsett10Scooter" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Vsett 10 Trottinettes <br> Électriques</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">5000DH</span>
								<span class="current-price">4200DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/MinimotorsScooter/DualtronEagleElectricScooter_4.jpg" alt="DualtronEagleElectricScooter" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Dualtron Eagle Trottinettes <br> Électriques</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">9500DH</span>
								<span class="current-price">7800DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/MinimotorsScooter/DualtronForever_5.jpg" alt="DualtronForever" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Dualtron Forever <br> Trottinettes</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">5000DH</span>
								<span class="current-price">4200DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/MinimotorsScooter/DualtronTogo_12.jpg" alt="DualtronTogo" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Dualtron Togo <br> Trottinettes</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">2390DH</span>
								<span class="current-price">1700DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/MicroScooter/MicroMerlinII_2.jpg" alt="MicroMerlin2" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Micro Merlin 2 <br> Trottinettes</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">3500DH</span>
								<span class="current-price">2600DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/MicroScooter/MicroX30Midnight_7.jpg" alt="MicroX30Midnight" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Micro X30 Midnight<br> Trottinettes</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">4999DH</span>
								<span class="current-price">3999DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="shop-item">
				<div class="inner-box">
					<div class="image">
						<a href="shop-detail.html"><img src="images/resource/products/Vsett/Vsett9+ElectricScooter_1.jpg" alt="Vsett9+ElectricScooter" /></a>
						<span class="tag flaticon-bag"></span>
						<div class="cart-box text-center">
							<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
						</div>
					</div>
					<div class="lower-content">
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="light fa fa-star"></span>
						</div>
						<h6><a href="shop-detail.html">Vsett 9+ Trottinettes <br> Électriques</a></h6>
						<div class="d-flex justify-content-between align-items-center">
							<div class="price">
								<span class="old-price">3500DH</span>
								<span class="current-price">2600DH</span>
							</div>
							<!-- Quantity Box -->
							<div class="quantity-box">
								<div class="item-quantity">
									<input class="qty-spinner" type="text" value="1" name="quantity">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<!-- Counter Section -->
<section class="counter-section">
	<div class="auto-container">
		<div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
			<div class="shipping-box">
				<div class="inner-box">
					Livraison <span class="theme_color">gratuite</span>
					<div class="order">Sur toutes les commandes</div>
				</div>
			</div>
			<div class="arrow">
				<img src="~/images/icons/arrow.png"/>
			</div>
			<div class="counter-boxed">
				<div class="row clearfix">
					<div class="counter-block col-lg-6 col-md-6 col-sm-6">
						<div class="inner-box d-flex align-items-center">
							<div class="counter"><span class="odometer" data-count="5"></span>k</div>
							<div class="counter-text">Trottinettes électriques pour rouler </div>
						</div>
					</div>
					<div class="counter-block col-lg-6 col-md-6 col-sm-6">
						<div class="inner-box d-flex align-items-center">
							<div class="counter"><span class="odometer" data-count="50"></span>k</div>
							<div class="counter-text">Nos clients satisfaits</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- Collection Section -->
<section class="collection-section">
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image: url(images/icons/pattern-1.png)"></div>
			<div class="shape-layer" style="background-image: url(images/background/pattern-1.png)"></div>
			<div class="row clearfix">
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="title">Collection 2025</div>
					<h2>Casque noir élégant pour trottinettes</h2>
					<div class="deals">Offres <span>35% de réduction</span></div>
					<a class="shop-now" href="shop-detail.html">Achetez maintenant</a>
					<!-- Arrow -->
					<div class="arrow">
						<img src="~/images/icons/arrow-1.png" alt="" />
					</div>
				</div>
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="image">
						<div class="shadow-layer" style="background-image: url(images/icons/pattern-2.png)"></div>
						<img src="~/images/resource/products/Vsett/VsettMini_7.jpg" />
						<div class="price-tag">
							1100<sup>DH</sup>
							<span>1700DH</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Products Section Three -->
<section class="products-section-three">
	<div class="auto-container">
		<div class="sec-title">
			<h4><span>Produits </span> à votre choix !</h4>
		</div>
		<div class="mixitup-gallery">
			<div class="filters">
				<ul class="filter-tabs">
					<li class="active filter" data-role="button" data-filter="all">Tendance</li>
					<li class="filter" data-role="button" data-filter=".bestseller">Meilleures ventes</li>
					<li class="filter" data-role="button" data-filter=".music">Classique</li>
					<li class="filter" data-role="button" data-filter=".photography">Design</li>
					<li class="filter" data-role="button" data-filter=".sports">Vitesse</li>
				</ul>
			</div>

			<div class="filter-list row clearfix">
				<div class="shop-item mix music photography col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MicroScooter/MicroExplorerII_3.jpg" alt="Micro Explorer 2" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Micro Explorer 2 <br> Trottinettes</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">3625DH</span>
									<span class="current-price">3000DH</span>
								</div>
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix sports col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/Vsett/Vsett10+ElectricScooter_4.jpg" alt="Vsett10+ElectricScooter" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Vsett 10+ Trottinettes <br> Électriques</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">5000DH</span>
									<span class="current-price">4200DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix photography bestseller col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/Vsett/Vsett10+ElectricScooter_4.jpg" alt="Vsett10+ElectricScooter" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Vsett 10+ Trottinettes <br> Électriques </a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">5000DH</span>
									<span class="current-price">4200DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix music col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MicroScooter/MicroX30Midnight_7.jpg" alt="MicroX30Midnight" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Micro X30 Midnight  <br> Trottinettes</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">4900DH</span>
									<span class="current-price">3900DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix sports bestseller col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/Vsett/Vsett9+ElectricScooter_1.jpg" alt="Vsett9+ElectricScooter" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Vsett 9+ Trottinettes <br> Électriques</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">7500DH</span>
									<span class="current-price">6500DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix music photography col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MinimotorsScooter/DualtronMiniSpecialDualMotorElectricScooter_6.jpg" alt="DualtronMiniSpecialDualMotorElectricScooter" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">AJouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Dualtron MiniSpecial DualMotorElectric <br> Trottinettes</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">5500DH</span>
									<span class="current-price">4500DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix sports bestseller col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/Vsett/Vsett8+ElectricScooter_6.jpg" alt="Vsett8+ElectricScooter" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Vsett 8+ Trottinettes <br> Électriques</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">3900DH</span>
									<span class="current-price">3000DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shop Item -->
				<div class="shop-item mix music photography col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="~/images/resource/products/MicroScooter/MicroX5Midnight.jpg" alt="MicroX5Midnight" /></a>
							<span class="tag flaticon-bag"></span>
							<div class="cart-box text-center">
								<a class="cart add-to-cart" href="javascript:void(0)">Ajouter au panier</a>
							</div>
						</div>
						<div class="lower-content">
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="light fa fa-star"></span>
							</div>
							<h6><a href="shop-detail.html">Micro X5 Midnight <br> Trottinettes</a></h6>
							<div class="d-flex justify-content-between align-items-center">
								<div class="price">
									<span class="old-price">5200DH</span>
									<span class="current-price">4200DH</span>
								</div>
								<!-- Quantity Box -->
								<div class="quantity-box">
									<div class="item-quantity">
										<input class="qty-spinner" type="text" value="1" name="quantity">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="button-box text-center">
				<a href="shop.html" class="theme-btn btn-style-one">
					Achetez maintenant <span class="icon flaticon-right-arrow"></span>
				</a>
			</div>

		</div>
	</div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-3.png)"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer-two" style="background-image: url(images/background/pattern-4.png)"></div>
			<div class="vector-layer" style="background-image: url(images/background/pattern-2.png)"></div>
			<div class="single-item-carousel owl-carousel owl-theme">

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Image Column -->
							<div class="image-column col-lg-4 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="arrow-layer" style="background-image: url(images/icons/arrow-2.png)"></div>
									<div class="image">
										<img src="~/images/gallery/pexels-alex-green-5699868.jpg" alt="" />
										<!-- Social Box -->
										<ul class="social-box">
											<li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
											<li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
											<li><a href="https://dribbble.com/" class="fa fa-dribbble"></a></li>
											<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Content Column -->
							<div class="content-column col-lg-8 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="text">Le revenu le plus <span>avancé</span>. Level facilite ma vie au quotidien, me fait gagner du temps et des efforts. Je le recommande à tout le monde.</div>
									<div class="quote-icon flaticon-quote"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Image Column -->
							<div class="image-column col-lg-4 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="arrow-layer" style="background-image: url(images/icons/arrow-2.png)"></div>
									<div class="image">
										<img src="~/images/gallery/pexels-shvetsa-5257495.jpg" alt="" />
										<!-- Social Box -->
										<ul class="social-box">
											<li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
											<li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
											<li><a href="https://dribbble.com/" class="fa fa-dribbble"></a></li>
											<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Content Column -->
							<div class="content-column col-lg-8 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="text">Cette trottinette électrique <span>avancée</span> a transformé mes trajets quotidiens ! Fiable, écologique et offrant une conduite fluide, elle est idéale pour gagner du temps et réduire mon empreinte carbone.</div>
									<div class="quote-icon flaticon-quote"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Section -->
<!-- Gallery Section -->
<section class="gallery-section">
	<div class="outer-container">
		<div class="instagram-carousel owl-carousel owl-theme">

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/1.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/1.jpg"></a>
					</div>
				</div>
			</div>

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/2.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/1.jpg"></a>
					</div>
				</div>
			</div>

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/3.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/3.jpg"></a>
					</div>
				</div>
			</div>

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/4.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/4.jpg"></a>
					</div>
				</div>
			</div>

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/5.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/5.jpg"></a>
					</div>
				</div>
			</div>

			<!-- Insta Gallery -->
			<div class="insta-gallery">
				<img src="~/images/gallery/6.jpg" alt="" />
				<div class="overlay-box">
					<div class="overlay-inner">
						<a class="lightbox-image icon flaticon-instagram" href="~/images/gallery/6.jpg"></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Gallery Section -->