<!-- Page Title -->
<section class="page-title">
	<div class="auto-container">
		<h2>Page de magasin</h2>
		<ul class="bread-crumb clearfix">
			<li><a asp-controller="Layouts" asp-action="Index">Accueil</a></li>
			<li>Pages</li>
			<li>Page de magasin</li>
		</ul>
	</div>
</section>

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
	<div class="auto-container">
		<div class="row clearfix">
			<div class="content-side col-lg-9 col-md-12 col-sm-12">
				<div class="filter-box">
					<div class="d-flex justify-content-between align-items-center flex-wrap">
						<div class="left-box d-flex align-items-center">
							<div class="results">Affichage de 1 à 12 sur 54 résultats</div>
						</div>
						<div class="right-box d-flex">
							<div class="form-group">
								<select name="currency" class="custom-select-box">
									<option>Récemment ajouté</option>
									<option>Ajouté 01</option>
									<option>Ajouté 02</option>
									<option>Ajouté 03</option>
									<option>Ajouté 04</option>
								</select>
							</div>
							<ul class="pages-list">
								<li><a class="flaticon-list" href="#"></a></li>
								<li><a class="flaticon-menu-2" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="shops-outer">
					<div class="row clearfix">
						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href="shop-detail.html"><img src="~/images/resource/products/MicroScooter/MicroExplorerII_3.jpg" alt="MicroExplorerII" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Micro Explore rII <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MicroScooter/MicroX11Midnight_5.jpg" alt="MicroX11Midnight" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Micro X11 Midnight <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MinimotorsScooter/DualtronCityElectricScooter_1.jpg" alt="DualtronCityElectricScooter_1" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Dualtron City Electric <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MinimotorsScooter/DualtronMiniSpecialDualMotorElectricScooter_6.jpg" alt="DualtronMiniSpecialDualMotorElectricScooter" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Dualtron MiniSpecial DualMotor <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/Vsett/Vsett10+ElectricScooter_4.jpg" alt="Vsett10+ElectricScooter" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Vsett 10+ Electric  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MicroScooter/MicroX5Midnight.jpg" alt="MicroX5Midnight" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Micro X5 Midnight  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MinimotorsScooter/DualtronForever_5.jpg" alt="DualtronForever" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Dualtron Forever  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/Vsett/Vsett9+ElectricScooter_1.jpg" alt="Vsett9+ElectricScooter" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Vsett 9+ Electric  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/Vsett/VsettMini_7.jpg" alt="VsettMini" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Vsett Mini  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MinimotorsScooter/DualtronTogo_12.jpg" alt="DualtronTogo" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Dualtron Togo  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MinimotorsScooter/DualtronCompact_2.jpg" alt="DualtronCompact" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Dualtron Compact <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shop-item col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="image">
									<a href=""><img src="~/images/resource/products/MicroScooter/MicroMerlinII_2.jpg" alt="MicroMerlinII" /></a>
									<div class="options-box">
										<ul class="option-list">
											<li><a class="flaticon-resize" href=""></a></li>
											<li><a class="flaticon-bag cart add-to-cart" href="javascript:void(0)"></a></li>
										</ul>
									</div>
								</div>
								<div class="lower-content">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="light fa fa-star"></span>
									</div>
									<h6><a href="shop-detail.html">Micro Merlin II  <br> Scooters</a></h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="price">
											<span class="old-price">3562DH</span>
											<span class="current-price">3000DH</span>
										</div>
										<!-- Quantity Box -->
										<div class="quantity-box">
											<div class="item-quantity">
												<input class="qty-spinner" type="text" value="1" name="quantity">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- Styled Pagination -->
					<ul class="styled-pagination text-center">
						<li class="next"><a href="#"><span class="fa fa-angle-double-left"></span></a></li>
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="next"><a href="#"><span class="fa fa-angle-double-right"></span></a></li>
					</ul>
					<!-- End Styled Pagination -->

				</div>

			</div>

			<!-- Sidebar Side -->
			<div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
				<aside class="sidebar sticky-top">

					<!-- Category Widget -->
					<div class="sidebar-widget category-widget">
						<div class="widget-content">
							<!-- Sidebar Title -->
							<div class="sidebar-title">
								<h6>Product Catagories</h6>
							</div>
							<!-- Category List -->
							<ul class="category-list">
								<li><a href="#">Accessories <span>(8)</span></a></li>
								<!--<li><a href="#">Air Filter <span>(5)</span></a></li>
								<li><a href="#">Body Engine <span>(5)</span></a></li>-->
							</ul>

						</div>
					</div>

					<!-- Brands Widget -->
					<div class="sidebar-widget brands-widget">
						<div class="widget-content">
							<div class="sidebar-title">
								<h6>brands</h6>
							</div>

							<div class="brands-list">
								<form method="post" action="">
									<div class="form-group">
										<div class="check-box">
											<input type="checkbox" name="remember-password" id="type-1">
											<label for="type-1">microScooter</label>
										</div>
									</div>

									<div class="form-group">
										<div class="check-box">
											<input type="checkbox" name="remember-password" id="type-2">
											<label for="type-2">miniMotorsScooter</label>
										</div>
									</div>

									<div class="form-group">
										<div class="check-box">
											<input type="checkbox" name="remember-password" id="type-3">
											<label for="type-3">vsett</label>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</aside>
			</div>

		</div>
	</div>
</div>

