@model ecommerceAPP.ViewModels.LoginVM

<section class="page-title">
	<div class="auto-container">
		<h2>Login Page</h2>
		<ul class="bread-crumb clearfix">
			<li><a href="index.html">Home</a></li>
			<li>Pages</li>
			<li>Register</li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- Register Section -->
<div class="register-section">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<!-- Login Form -->
					<div class="styled-form">
						<h4>Sign Up</h4>
						<form method="post" action="index.html">
							<div class="form-group">
								<label>Your Name</label>
								<input type="text" name="username" value="" placeholder="Enter your name*" required>
							</div>
							<div class="form-group">
								<label>Email address</label>
								<input type="email" name="emaill" value="" placeholder="Enter Email Adress" required>
							</div>
							<div class="form-group">
								<label>New Password</label>
								<input type="password" name="password" value="" placeholder="Create password" required>
							</div>
							<div class="form-group">
								<div class="check-box">
									<input type="checkbox" name="remember-password" id="type-1">
									<label for="type-1">I agree to al <a href="#">Terms</a> & <a href="#">Condition</a> and Feeds</label>
								</div>
							</div>
							<div class="form-group">
								<button type="button" class="theme-btn btn-style-one">
									Sign Up
								</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<!-- Login Form -->
					<div class="styled-form">
						<div class="styled-form">
							<h4>Login here</h4>
							<form asp-controller="Login" asp-action="Login" method="post">
								<div class="form-group">
									<label>Email address</label>
									<input type="text" asp-for="Email" class="form-control" placeholder="Enter Email Address" required>
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label>Password</label>
									<input type="password" asp-for="Password" class="form-control" placeholder="Enter password" required>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>

								<div class="form-group">
									<div class="check-box">
										<input type="checkbox"  id="remember-me">
										<label for="remember-me">Remember Me?</label>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="theme-btn btn-style-one">
										Login
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Register Section -->
